%h2 Erstelle einen Kurs
= form_for (@classes, :as => resource_name, :url => classes_offer, :html => { :method => :put }) do |f|
  %p
    = f.label :name
    %i - Gib einen kurzen und aussagekräftigen Namen für deinen Kurs ein
    %br/
    = f.text_field :name
  %p
    = f.label :summary
    %i - Der Inhalt in 160 Zeichen
    %br/
    = f.text_field :summary
  %p
    = f.label :description
    %i - hier hast du die Gelegenheit etwas mehr zu deinem Kurs zu schreiben
    %br/
    = f.text_field :description
  %p
    = f.label :teacher_skills
    %i - beschreibe deine Fähigkeiten oder Talente die dich als CloseGuru ausmachen
    %br/
    = f.text_field :teacher_skills

  %p= f.submit "Kurs erstellen"