%h2 Erstelle einen Kurs
- form_for @classroom, :url => {:action => :create} do |f|
  %p
    Kurs-Titel:
    = f.text_field :name
  %p
    Zusammenfassung:
    = f.text_field :summary

  %p 
    Beschreibung:
    = f.text_area :summary

  %p
    Was macht dich zum Guru für diesem Kurs:
    = f.text_field :summary
  
  %p
    Vorschaubild:
    = f.text_field :image

  %p
    = f.submit "Kurs erstellen"
