%h2 Erstelle einen Kurs
= form_for @classroom, :url => {:action => :create}, :method => :post do |f|
  - if errors = @classroom.try(:errors)
    %ul
      - errors.full_messages.each do |msg|
        %li= msg
    
  %p
    Kurs-Titel:
    = f.text_field :name
  %p
    Zusammenfassung:
    = f.text_field :summary

  %p 
    Beschreibung:
    = f.text_area :summary

  %p
    Was macht dich zum Guru für diesem Kurs:
    = f.text_field :summary

  %p
    = f.submit "Kurs erstellen"
