!!!
%html
  %head
    %title CloseGuru.com
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = fb_init(:locale => "de_DE")
    - if flash[:logout]
      = with_fb("FB.logout()" ).html_safe
  %body
    %header#header
      = link_to "CloseGuru.com - Deine lokalen Skill-Gurus", root_path
    %nav#nav
      %ul.hmenu
        = render 'devise/menu/registration_items'
        = render 'devise/menu/login_items'

      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)

    =yield
    
    %footer
      &copy; 2011 CloseGuru
      %br 
      Made with a great 
      %span.red
        ♥ 
      for Ruby on Rails

  %script{:src => "http://platform.twitter.com/widgets.js"}