!!!
%html
  %head
    %title= @page_title
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    / FB Open Graph tags
    - @og_tags.each_pair do |property, content|
      %meta{:property => "og:#{property}", :content => content}

  %body
    = fb_init(:locale => "de_DE")
    - if flash[:logout]
      = with_fb("FB.logout()" ).html_safe

    #container
      %header
        %nav
          %ul
            %li
              %a{:href => "#"} Über uns
            %li
              %a{:href => "#"} Presse
            = render 'devise/menu/registration_items'
            = render 'devise/menu/login_items'
            - if current_user.try(:fb?)
              %li#fbPic
                %fb:profile-pic{:uid => current_user.facebook_id, :size => "square"}
          #social_top
            .twitter
              = tweet_button
            .facebook
              %fb:like{:layout => "button_count", :href => root_url}
      
        %h1#logo
        %a{:href => "/"}
          %img{:alt => "Closeguru Logo learn anything from anyone", :src => "/images/logo.png"}/
        .clear
        
      #main.grid-14{:role => "main"}
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)

        = yield :header 
        / Expand Profile Action
        #expand
          #expand_content
            #user_profile.grid.grid-12
              - if current_user
                #profile_pic
                  - if current_user.fb?
                    %fb:profile-pic{:size => "small", :uid => current_user.facebook_id}
                #profile_content
                  %h2 
                    - if current_user.fb?
                      %fb:name{:uid => current_user.facebook_id, :useyou => "false"}
                    - else
                      = current_user.name          
                  %span.location München
                  %span.website
                    %a{:href => "#"} http://closeguru.com
                  %p Ich lerne gern!
                  %img.awards{:alt => "This is my profile", :src => "/images/awards.jpg"}/
              - else
                Sign up for an account!
          #expand_shadow
          #expand_arrow

        = yield
    
      %footer
        #footer_shadow
        %ul
          %li © 2011 CloseGuru
          %li
            %a{:href => "#"} Contact
          %li
            %a{:href => "#"} Help
          %li
            %a{:href => "#"} FAQ
          %li
            %a{:href => "#"} Richtlinien
          %li
            %a{:href => "#"} AGB

  %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"}
  %script{:src => "/javascripts/script.js"}
  %script{:src => "http://platform.twitter.com/widgets.js"}
  :javascript
    window.jQuery || document.write('<script src="js/libs/jquery-1.6.1.min.js"><\/script>')
    var _gaq=[['_setAccount','UA-20739978-4'],['_trackPageview'],['_trackPageLoadTime']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
