!!!
%html
  %head
    %title= @page_title
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    / FB Open Graph tags
    - @og_tags.each_pair do |property, content|
      %meta{:property => "og:#{property}", :content => content}

  %body
    = fb_init(:locale => "de_DE")
    - if flash[:logout]
      = with_fb("FB.logout()" ).html_safe

    %header#header
      = link_to "CloseGuru.com - Deine lokalen Skill-Gurus", root_path
      = tweet_button
      %fb:like{:layout => "button_count", :href => root_url}
    %nav#nav
      %ul.hmenu
        = render 'devise/menu/registration_items'
        = render 'devise/menu/login_items'
      - if user_signed_in?
        %li
          = link_to "Kurse anbieten", url_for(:controller => :classes, :action => :offer)

      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)

    =yield
    
    %footer
      &copy; 2011 CloseGuru
      %br 
      Made with a great 
      %span.red
        ♥ 
      for Ruby on Rails

  %script{:src => "http://platform.twitter.com/widgets.js"}
