!!!
%html
  %head
    %title CloseGuru.com
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = fb_login
  %body
    %header#header
      CloseGuru.com - Deine lokalen Skill-Gurus
    %nav#nav
      %ul.hmenu
        = render 'devise/menu/registration_items'
        = render 'devise/menu/login_items'
        %fb:login-button
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
    =yield
    %footer
      &copy; 2011 CloseGuru
      %br 
      Made with a great 
      %span
        ♥ 
      for Ruby on Rails
